agent_idor.json
{
  "name": "agent_idor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "idor",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        -16
      ],
      "id": "dfdaa7ef-c59a-48af-a868-8170052df432",
      "name": "Webhook",
      "webhookId": "70207b78-3acd-4fc2-94c7-7a393debb517"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this endpoint for IDOR:\n{{ JSON.stringify($json) }}\n\n\n\n",
        "options": {
          "systemMessage": "System: You are an automated Dynamic Application Security Testing (DAST) Agent specializing in IDOR. Your goal is to systematically evaluate endpoints.\n\nFollow these strict evaluation steps:\n\nSTEP 1 - Context:\nExamine the provided url, method, and body_params. \nFilter: Identify if any parameter represents an object/user reference (e.g., id=, user_id=, login=, account=).\nCRITICAL: Ignore generic search queries or form inputs (e.g., q=, search=, title=, name=). If no valid reference identifier exists, output DONE and stop.\n\nSTEP 2 - Original Fetch:\nUse 'fetch_url' with the EXACT original url, method, and payload. Save the status and content_length.\n\nSTEP 3 - Modified Fetch:\nModify the identified reference (e.g., change 'bee' to 'admin', or add 1 to an ID).\nUse 'fetch_url' with the SAME METHOD and the modified payload.\n\nSTEP 4 - Universal Decision Logic:\nCompare the two responses and apply this strict logic tree:\n\nBranch 1: Did the server reject the modified request? (Status 401, 403, 302, or explicit \"Unauthorized\" / \"Error\" text).\n-> If YES: NOT VULNERABLE. The authorization mechanism worked.\n\nBranch 2: Did the server accept it (Status 200), AND the response content or length changed significantly?\n-> If YES: VULNERABLE (Data Exposure).\n\nBranch 3: Did the server accept it (Status 200), BUT the response content and length remained EXACTLY the same?\n-> If YES, look at the HTTP Method:\n   - If GET: NOT VULNERABLE. (Nothing changed).\n   - If POST, PUT, or DELETE: VULNERABLE (Blind Action). The server silently accepted an unauthorized state-changing request. Do NOT assume it failed just because the text is identical.\n\nSTEP 5 - Execution:\nIf the logic in STEP 4 resulted in VULNERABLE, you MUST execute the 'save_vulnerability' tool call.\nProvide:\n* vulnerability_type: \"idor\"\n* severity: \"high\"\n* url: original url\n* method: original method\n* parameter: the modified parameter\n* payload: the new value\n* evidence: Explain exactly which logic branch from STEP 4 was triggered and why.\n\nIf you triggered the tool, or if it was NOT VULNERABLE, output DONE at the end.\n",
          "maxIterations": 8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        0
      ],
      "id": "2b8c46b1-a878-42b4-bfcc-9873387cdc69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        240
      ],
      "id": "37b730b0-61cb-4e38-b1cb-1f11edc88615",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wDbP0uoK2fYnvwmK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Saves the vulnerability. You MUST call this tool EXACTLY ONCE. After calling it and getting a success response, you MUST immediately reply with the word DONE and DO NOT call any other tools.",
        "method": "POST",
        "url": "=http://niledefender:5000/api/scans/1/vulnerabilities\n\n",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vulnerability_type",
              "value": "={{ $fromAI(\"vulnerability_type\", \"The type of vulnerability found, e.g. IDOR\") }}"
            },
            {
              "name": "severity",
              "value": "={{ $fromAI(\"severity\", \"Severity level: Critical, High, Medium, or Low\") }}"
            },
            {
              "name": "url",
              "value": "={{ $fromAI(\"url\", \"The full URL where the vulnerability was found\") }}"
            },
            {
              "name": "payload",
              "value": "={{ $fromAI(\"payload\", \"The payload used to exploit the vulnerability\") }}"
            },
            {
              "name": "evidence",
              "value": "={{ $fromAI(\"evidence\", \"Evidence that confirms the vulnerability exists\") }}"
            },
            {
              "name": "parameter",
              "value": "={{ $fromAI(\"parameter\", \"The vulnerable parameter name\") }}"
            },
            {
              "name": "method",
              "value": "={{ $fromAI(\"method\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        832,
        256
      ],
      "id": "e8a5af1e-c065-40d0-b08b-51767b1ff12b",
      "name": "save_vulnerability"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        -16
      ],
      "id": "58014a6b-f990-46ef-a936-e58601bcb62f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=http://niledefender:5000/api/scans/{{ $('Webhook').item.json.body.scan_id }}/endpoints\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        -16
      ],
      "id": "b70edfe3-6fab-45a4-9818-ef0477b7e2a8",
      "name": "get_endpoints2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "ccbf66b4-8e6c-4d8e-9bc8-edda56654331",
      "name": "Wait",
      "webhookId": "6e5c8253-91c0-4086-aa29-e9908bf6f4bf"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst endpoints = data.endpoints || [];\n\nconst suspicious = endpoints.filter(ep => {\n  const url = ep.url || '';\n  const hasUrlParams = /[?&][a-zA-Z0-9_-]+=[^&]+/i.test(url);\n  let bodyParamsStr = '';\n  if (ep.body_params) {\n    bodyParamsStr = typeof ep.body_params === 'object' \n      ? JSON.stringify(ep.body_params) : String(ep.body_params);\n  }\n  return hasUrlParams || (bodyParamsStr.trim() !== '' && bodyParamsStr !== '{}');\n});\n\nconst uniqueEndpoints = [];\nconst seenPatterns = new Set();\n\nsuspicious.forEach(ep => {\n  const url = ep.url || '';\n  let pattern = url;\n  const patternMatch = url.match(/([^?]+)\\?([^=]+)=/);\n  if (patternMatch) {\n    pattern = patternMatch[1] + '?' + patternMatch[2];\n  } else if (ep.body_params) {\n    pattern = url + '|' + (typeof ep.body_params === 'object' \n      ? JSON.stringify(ep.body_params) : String(ep.body_params));\n  }\n  if (!seenPatterns.has(pattern)) {\n    seenPatterns.add(pattern);\n    if (ep.body_params && typeof ep.body_params === 'object') {\n      const simplified = {};\n      for (const [key, val] of Object.entries(ep.body_params)) {\n        simplified[key] = (val !== null && typeof val === 'object' && val.value !== undefined) \n          ? val.value : val;\n      }\n      ep.body_params = simplified;\n    }\n    uniqueEndpoints.push(ep);\n  }\n});\n\nconst scanId = $('Webhook').first().json.body.scan_id;\n\n\n// حالة مفيش IDOR - item واحد للـ IF\nif (uniqueEndpoints.length === 0) {\n  return [{ json: { idor_found: false, scan_id: scanId } }];\n}\n\n// حالة فيه IDOR - نفس الكود القديم بالظبط، مفيش إضافات\nreturn uniqueEndpoints.map(ep => ({ \n  json: { \n    url: ep.url, \n    method: ep.method, \n    parameters: ep.parameters, \n    body_params: ep.body_params\n  } \n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -16
      ],
      "id": "41a0911e-e15c-4f6c-8dfa-8d1d9b87f09c",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "description": "Fetches the content of a URL dynamically. Provide 'url', 'method', and 'body'. ",
        "jsCode": "const url = query.url;\nconst method = (query.method || 'GET').toUpperCase();\nconst body = query.body || null;\n\ntry {\n  const response = await helpers.httpRequest({\n    method: method,\n    url: url,\n    headers: {\n      'Cookie': 'PHPSESSID=3qmjnbh247h5mp3q23jnlgcc43; security_level=0',\n      'Content-Type': 'application/x-www-form-urlencoded'\n    },\n    body: (method === 'POST' && body) ? body : undefined,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  const text = (typeof response.body === 'string') ? response.body : JSON.stringify(response.body);\n\n  let clean = text.replace(/<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, \"\");\n  clean = clean.replace(/<style\\b[^<]*(?:(?!<\\/style>)<[^<]*)*<\\/style>/gi, \"\");\n  clean = clean.replace(/<[^>]+>/g, \" \");\n  clean = clean.replace(/\\s+/g, \" \").trim().substring(0, 800);\n\n  return \"Status: \" + response.statusCode + \" | Length: \" + text.length + \" | Content: \" + clean;\n\n} catch (error) {\n  return \"Error: \" + error.message;\n}\n",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"url\": {\n      \"type\": \"string\"\n    },\n    \"method\": {\n      \"type\": \"string\"\n    },\n    \"body_params\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"url\",\n    \"method\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1024,
        272
      ],
      "id": "b04fc446-e75d-4028-bbc1-cd3abb32e1b4",
      "name": "fetch_url1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://niledefender:5000/api/scans/{{ $('Webhook').first().json.body.scan_id }}/complete\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        -256
      ],
      "id": "38018a53-0a3f-43ad-a124-8c5aab02a1c8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b81f9a41-a3d7-49e6-bb9e-e5200cd89fe5",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -16
      ],
      "id": "fd53f6f7-b93d-4bea-9b9b-cd77d4564cf1",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://niledefender:5000/api/scans/{{ $('Webhook').first().json.body.scan_id }}/complete\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        -192
      ],
      "id": "b6ab2012-734f-4b72-959c-367fc6c39b3f",
      "name": "notify_complete"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "DONE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        544,
        -208
      ],
      "id": "c26850d0-4824-4fbb-ae05-5155889ea206",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "get_endpoints2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "save_vulnerability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_endpoints2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_url1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "notify_complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "657e5972-09fa-4733-a248-16afad668d60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf97ad6953fd923b653d35d460ac472fb955332d1529297edf075a9ce7369950"
  },
  "id": "9ir4iOACG0WrUh3r",
  "tags": []
}